name: Deploy to EC2 with Docker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      # 1. Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v4


      # 2. Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      # 3. Build Docker Image
      - name: Build Docker Image
        run: |
          docker build -t kavyadarshinim/react-devops-app:latest .


      # 4. Push Image to DockerHub
      - name: Push Docker Image
        run: |
          docker push kavyadarshinim/react-devops-app:latest


      # 5. Deploy to EC2
      - name: SSH and Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22

          script: |
            sudo docker stop myapp || true
            sudo docker rm myapp || true

            sudo docker pull kavyadarshinim/react-devops-app:latest

            sudo docker run -d \
              -p 80:3000 \
              --restart always \
              --name myapp \
              kavyadarshinim/react-devops-app:latest
