name: Full DevOps Pipeline

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: kavyadarshnim/react-devops-app
  CLUSTER_NAME: chandru-eks
  REGION: ${{ secrets.AWS_REGION }}
  NAMESPACE: myapp
  DEPLOYMENT_NAME: myapp

jobs:

# =========================
# STAGE 1 – TEST
# =========================
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: echo "No tests configured yet"


# =========================
# STAGE 2 – BUILD & PUSH
# =========================
  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}


# =========================
# STAGE 3 – DEPLOY TO EKS
# =========================
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: AWS Login
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Connect to EKS
        run: |
          aws eks update-kubeconfig --name $CLUSTER_NAME --region $REGION

      - name: Create namespace
        run: |
          kubectl apply -f k8s/namespace.yaml

      - name: Deploy app
        run: |
          kubectl apply -f k8s/deployment.yaml -n $NAMESPACE
          kubectl apply -f k8s/service.yaml -n $NAMESPACE

      - name: Update image
        run: |
          kubectl set image deployment/$DEPLOYMENT_NAME \
          $DEPLOYMENT_NAME=$IMAGE_NAME:${{ github.sha }} \
          -n $NAMESPACE

      - name: Rollout status
        run: |
          kubectl rollout status deployment/$DEPLOYMENT_NAME -n $NAMESPACE
