name: Deploy to EC2 with Docker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      # 1. Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v4


      # 2. Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      # 3. Pull Image (Check)
      - name: Pull Docker Image
        run: docker pull kavyadarshinim/react-devops-app:latest


      # 4. Deploy to EC2
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22

          script: |
            echo "Stopping old container..."
            sudo docker stop myapp || true

            echo "Removing old container..."
            sudo docker rm myapp || true

            echo "Pulling latest image..."
            sudo docker pull kavyadarshinim/react-devops-app:latest

            echo "Starting new container..."
            sudo docker run -d \
              -p 8080:3000 \
              --restart always \
              --name myapp \
              kavyadarshinim/react-devops-app:latest

            echo "Deployment Done!"
